.login {
    height: 550px;
    overflow: hidden;
    position: relative;
    .bg{
        background-color: #f6f6f6;
        background-image: url('https://p5.ssl.qhimg.com/t0118feb0c6cd63e5ba.jpg');
        background-position: 50%;
        background-size: auto 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform .5s linear,-webkit-transform .5s linear,-moz-transform .5s linear,-o-transform .5s linear;
        width: 100%;
    }
    .bg{
        -moz-background-size:auto 100%;
        -moz-transform:matrix(1.05,0,0,1.05,0,0);
        -moz-transition:transform .5s linear,-moz-transform .5s linear;
        -ms-transform:matrix(1.05,0,0,1.05,0,0);
        -o-transform:matrix(1.05,0,0,1.05,0,0);
        -o-transition:-o-transform .5s linear;
        -webkit-transform:matrix(1.05,0,0,1.05,0,0);
        -webkit-transition:-webkit-transform .5s linear;
        transform:matrix(1.05,0,0,1.05,0,0);
        transition:-webkit-transform .5s linear;
        transition:transform .5s linear;
    }
    .logo{
        background-image: url('https://p2.ssl.qhimg.com/t017e023359489ada69.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 57px;
        left: 60px;
        position: absolute;
        top: 30px;
        width: 300px;
    }
}
.biglogo{
    height: 600px;
    width: 600px;
    background-image: url('https://p4.ssl.qhimg.com/t019a1f31118714bf2c.png');
    background-position: 50%;
    background-size: 100% auto;
    display: inline-block;
    margin-top: -50px;
    position: relative
    
}
.tuzhuan{
    height: 600px;
    width: 600px;
    animation: radarAnimations 3s linear infinite;
    background: url('https://p2.ssl.qhimg.com/t01757f52d5c73d8964.png') no-repeat;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 0;
    transform: translateZ(0);
}
@-moz-keyframes radarAnimations{
    0%{-moz-transform:rotate(0);transform:rotate(0)}
    to{-moz-transform:rotate(1turn);transform:rotate(1turn)}
}
@-o-keyframes radarAnimations{
    0%{-o-transform:rotate(0);transform:rotate(0)}
    to{-o-transform:rotate(1turn);transform:rotate(1turn)}
}
@keyframes radarAnimations{
    0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
    to{-moz-transform:rotate(1turn);-o-transform:rotate(1turn);-webkit-transform:rotate(1turn);transform:rotate(1turn)}
}


.wrap{
    position: relative;
}


.login_table{
    width:360px;
    height:415px;    
    position: absolute;
    right: 15px;
    top:70px;
    box-shadow: 0 0 50px rgba(0,0,0,.3);
    background-color: #fff;
    border-radius: 4px;
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.table_header{
    padding-top: 40px;
    text-align: center;
    color: #333;
}
.center{
    display: inline-block;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    color: #333;
    font-size: 20px;
}
.login360{
    float: left;
}
.table_header .active{
    border-bottom: 1px solid #36b447;
    color: #36b447;
    float: left;
    padding-bottom: 4px;
    cursor: pointer;
    font-weight: 500;
}
.table_header a{
    border-bottom: 1px solid transparent;
    float: left;
    padding-bottom: 4px;
    color: #333;
    cursor: pointer;
    font-weight: 500;
}
.messagelogin{
    float: left;
    span{
        height: 16px;
        margin: 2px 16px 0;
        font-weight: 400;
        border-right: 1px solid #e3e3e3;
        float: left;
    }
}


.quc-input {
    position: relative;
    width: 100%;
    
}
input{
    width: 278px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: content-box;
    color: #333;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-top: 20px;
}

.quc-input .quc-input-append {
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    right: 1px;
    text-align: center;
    width: 120px;
    color: #ccc;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top:21px;
}
.quc-link {
    color: #36b447;
    cursor: pointer;
    font-size: 14px;
}

.table_main{
    text-align: center;
    margin-top:15px; 
}
.quc-button-primary {
    background-color: #36b447;
    border-color: #36b447;
    color: #fff;
}

.way{
    margin-top: 10px;
    a{
        color: inherit;
        cursor: pointer;
        font-size: 14px;
    }
}
.way a:hover{
    color:#36b447;
}
.quc-left{
    float: left;
}
.quc-right{
    float:right;
}
.other{
    margin-top: 10px;
    span {
        background-color: #fff;
        padding: 0 5px;
        position: relative;
        top: 7px;
        color: #999;
        font-size: 14px;
        line-height: 1;
        text-align: center;
    }
}
.other_title {
    border-bottom: 1px solid #e3e3e3;
    color: #999;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
}
.other_way{
    text-align: center;
    position: relative;
    i{
        border-color: #e3e3e3!important;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        font-size: 22px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        width: 40px;
        
    }
}
.qq{
    position: absolute;
    left:10px;
    top:0;
    color: #4e9ff9;
}
.weixin{
    color: #5ec12a;
}
.sina{
    position: absolute;
    right:10px;
    top:0;
    color: #f65d6b;
}
@font-face{
    font-family:quc-icon;
    src:url('//s1.ssl.qhres.com/static/c5ad2cc0efb72de5.eot?t=1539066218902');
    src:url('//s1.ssl.qhres.com/static/c5ad2cc0efb72de5.eot?t=1539066218902#iefix') format("embedded-opentype"),
    url('//s3.ssl.qhres.com/static/ef61370030425682.woff') format("woff"),
    url('//s5.ssl.qhres.com/static/40d932e215321ea2.ttf') format("truetype"),
    url('//s1.ssl.qhres.com/static/02b31c73c2181dca.svg') format("svg")
}
.quc-icon{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:.2px;
    font-family:quc-icon!important;
    font-size:16px;font-style:normal
}



.login_footer{
    .footer_top{
        margin: 20px auto 0;
        width: 1200px;
        a{
            float: left;
            color: #58cfa6;
            float: left;
            height: 80px;
            line-height: 1;
            padding-left: 44px;
            width: 226px;
            cursor: pointer;
            background-color: transparent;
            margin-left: 40px;
            i{
                float: left;
                font-size: 44px;
                line-height: 80px;
                padding-right: 12px;
            }
        }
    }
}



.copyright {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
    a{
        color: #999;
    }
}


@font-face{
    font-family:iconfont;
    src:url('//s4.ssl.qhres.com/static/47aaef3cfe12666c.eot');
    src:url('//s4.ssl.qhres.com/static/47aaef3cfe12666c.eot#iefix') format("embedded-opentype"),
    url('//s0.ssl.qhres.com/static/84c6b8b4ea9b778e.woff') format("woff"),
    url('//s4.ssl.qhres.com/static/233e7a2affbeeb32.ttf') format("truetype"),
    url('//s5.ssl.qhres.com/static/26e122c950ee7b1f.svg#iconfont') format("svg");
}
.iconfont{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:.2px;
    font-family:iconfont!important;
    font-size:16px;
    font-style:normal
}

#error{
    color: #f00;
}




