@charset "UTF-8";
.header_top {
  height: 80px;
  overflow-x: hidden;
  text-align: center;
}
.header_top a {
  display: block;
}
.header_top img {
  border: 0;
  width: 1920px;
  height: 80px;
  margin-left: -285px;
  vertical-align: middle;
}

.header_botton_1 {
  background: #e3e4e5;
}
.header_botton_1 .moving {
  position: absolute;
  left: 0px;
}
.header_botton_1 .moving_1 {
  position: absolute;
  left: 68px;
}
.header_botton_1 .moving_2 {
  margin-left: 25px;
}

.header_botton_1 ul {
  list-style: none;
  width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.header_botton_1 ul li {
  display: list-item;
  position: relative;
}
.header_botton_1 ul .nav_left {
  float: left;
}
.header_botton_1 ul .nav_right {
  float: right;
}
.header_botton_1 ul a {
  font-size: 12px;
  display: inline-block;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #999;
}

.header_botton_1 i {
  width: 22px;
  height: 18px;
  background: url(http://static.i360mall.com/mall/images/head-icons1.png) no-repeat;
  -ms-animation: rotateme .3s infinite;
  -o-animation: rotateme .3s infinite;
  -moz-animation: rotateme .3s infinite;
  -wekit-animation: rotateme .3s infinite;
  animation: rotateme .3s infinite;
  position: absolute;
  top: 10px;
  left: -18px;
  cursor: pointer;
}

@-o-keyframes rotateme {
  0% {
    -o-transform: rotate(-10deg);
  }
  20% {
    -o-transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(10deg);
  }
  70% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-10deg);
  }
}
@-moz-keyframes rotateme {
  0% {
    -moz-transform: rotate(-10deg);
  }
  20% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(10deg);
  }
  70% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-10deg);
  }
}
@-ms-keyframes rotateme {
  0% {
    -ms-transform: rotate(-10deg);
  }
  20% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
  }
  70% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-10deg);
  }
}
@-webkit-keyframes rotateme {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}
@keyframes rotateme {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.header_botton_1 .codebox {
  position: absolute;
  top: 42px;
  left: 12px;
  z-index: 1;
  border: 1px solid #999;
}
.header_botton_1 .codebox img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.codebox:before {
  content: "";
  display: block;
  height: 5px;
  width: 9px;
  background: url("http://static.i360mall.com/mall/images/codeboxarr.png") no-repeat;
  position: absolute;
  top: -6px;
  right: 30px;
}

.header_botton_2 {
  background: #fff;
}

.header_botton_2 .logo {
  float: left;
  height: 118px;
  line-height: 118px;
  font-size: 0;
}
.header_botton_2 .logo a {
  max-height: 118px;
}
.header_botton_2 .logo img {
  width: 150px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.search {
  position: relative;
  float: left;
  margin-left: 250px;
  height: 46px;
  vertical-align: top;
  margin-top: 28px;
}

.header_botton_2 form .suggest {
  width: 434px;
  height: 40px;
  padding: 0 14px;
  line-height: 40px;
  border: 1px solid #23ac38;
  font-size: 12px;
}
.header_botton_2 form .search-btn {
  width: 72px;
  height: 42px;
  background: #23ac38 url(http://static.i360mall.com/mall/images/head-icons.png) no-repeat 24px -110px;
  border: 0;
  cursor: pointer;
  margin-left: -4px;
  position: absolute;
  right: -72px;
  bottom: 4px;
}

.search-btn:hover {
  background-color: #23862a;
}

.searchkey {
  margin-top: 9px;
}
.searchkey a {
  margin-right: 10px;
  color: #848484;
  display: inline-block;
  font-size: 12px;
}

.topshopcart {
  float: right;
  position: relative;
  padding: 0;
  z-index: 87;
  margin-top: 28px;
  margin-right: 110px;
}
.topshopcart .header-cart {
  display: inline-block;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f9f9f9;
  color: #363636;
  border: 1px solid #ddd;
  font-size: 12px;
}
.topshopcart .icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 6px -3px 7px;
  background: url(http://static.i360mall.com/mall/images/head-icons.png) 0 0 no-repeat;
}

.carthas .header-cart .icon {
  background-position: 0 -30px;
}

.topshopcart .header-cart .cart-size {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: #bfbfbf;
  text-align: center;
  line-height: 19px;
  font-size: 12px;
}

.topshopcart .cart-hover .cart-size,
.topshopcart .cart-hover {
  position: relative;
  color: #3fb661;
  background: #fff;
  border-bottom: 1px solid #fff;
  z-index: 102;
}

.topshopcart .header-cart-popup {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 12px;
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 42px;
  width: 380px;
  z-index: 10000;
}

.header_botton_3 {
  position: relative;
  background: #fff;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  z-index: 1;
}

.navbar {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}
.navbar .top-item {
  float: left;
  padding: 0 12px;
  line-height: 37px;
  text-align: left;
}
.navbar .top-item a {
  position: relative;
  font-size: 15px;
  color: #323334;
}
.navbar .topfirst {
  width: 210px;
  padding: 0;
  margin-right: 26px;
  background-color: #363636;
}
.navbar .topfirst a {
  position: relative;
  padding-left: 36px;
  margin-left: 30px;
  color: #fff;
}

.navbar .top-item a:hover {
  color: #23ac38;
}

.navbar .topfirst a:before {
  position: absolute;
  left: 0px;
  top: 7px;
  content: "";
  width: 26px;
  height: 26px;
  background: url(http://static.i360mall.com/mall/images/head-icons.png) no-repeat;
  background-position: 3px -300px;
}

.navbar .topfirst:hover a {
  color: #fff;
}

.navbar .topfirst:hover a:before {
  background-position: -23px -300px;
}

.header_botton_3 .wrap {
  position: relative;
}

.header_botton_3 .navadbox a {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.header_botton_3 .navadbox a img {
  width: 189px;
  height: 57px;
}

#footer {
  background: #FFF;
  width: 1349px;
  margin: 0 auto;
}
#footer .footer_top {
  border-top: 1px solid  #E8E8E8;
  border-bottom: 1px solid  #E8E8E8;
}

#footer .foot-bannerw {
  width: 100%;
  padding: 16px 0;
}

#footer .banner-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  float: left;
  border-right: solid 1px #E8E8E8;
  height: 60px;
  line-height: 60px;
  color: #302E33;
  text-align: center;
}
#footer .banner-item a {
  color: #302E33;
}
#footer .banner-item i {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: top;
  text-align: center;
  margin: 10px 10px 0 0;
  border: 2px solid #23AC38;
  border-radius: 20px;
  color: #23AC38;
  font-style: normal;
  font-weight: normal;
}

#footer .banner-item a:hover {
  color: #23AC38;
}

#footer .last {
  border-right: none;
}

#footer .footer_content {
  border-bottom: solid 1px #E8E8E8;
}

#footer li,
#footer ul,
#footer p,
#footer dd,
#footer dt {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer a {
  color: #848484;
  text-decoration: none;
}

#footer .foot-container {
  width: 1240px;
  padding: 30px 0;
  margin: 0 auto;
}

#footer .foot-con {
  float: left;
  padding-right: 0;
  width: 16%;
  margin-left: 100px;
}
#footer .foot-con dt {
  font-size: 16px;
  color: #302E33;
  line-height: 40px;
}
#footer .foot-con dd {
  color: #848484;
  font-size: 12px;
  line-height: 30px;
}

#footer .foot-con a:hover {
  color: #77BE24;
  text-decoration: underline;
}

#footer .contactus {
  width: 20%;
}

#footer .call-number {
  font-size: 20px;
  color: #4ABA00;
  line-height: 40px;
  vertical-align: top;
}
#footer .call-number .beizhu {
  font-size: 14px;
  color: #4ABA00;
}

#footer .servicebox {
  margin-top: 20px;
  clear: both;
}
#footer .servicebox a {
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

#footer .wxtips {
  position: absolute;
  left: 50px;
  top: -30px;
}

#footer .weibo .wxtips {
  left: 50px;
  top: -20px;
}

#footer .foot-con-2 {
  margin-left: 50px;
}

.weibo {
  margin-top: 50px;
}

#footer .footer-copyright {
  clear: both;
  padding: 30px 0;
  line-height: 22px;
  font-size: 12px;
  color: #848484;
  text-align: center;
}

.header_top {
  display: none;
}

.prodIntro {
  width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
  background: #FFF;
  overflow: hidden;
}
.prodIntro .sPic {
  float: left;
  margin: 0;
  width: 620px;
  padding-top: 4px;
  padding-bottom: 40px;
}
.prodIntro .picbox {
  width: 552px;
  position: relative;
}

.picbox .bigImg {
  position: relative;
  margin: 0 auto;
  width: 480px;
  height: 480px;
  border: 1px solid transparent;
}

#bf {
  position: absolute;
  top: 0;
  left: 530px;
  width: 480px;
  height: 480px;
  z-index: 100;
  overflow: hidden;
  border: 1px solid #999;
}
#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px;
}

.picbox .bigImg:hover {
  border: 1px solid #DDD;
  cursor: move;
}

.picbox .bigImg img {
  width: 100%;
  height: 100%;
}

#sf {
  position: absolute;
  opacity: .8;
  background-color: #FEDDD7;
  border: 1px solid #FEDDD7;
  left: -1px;
  top: 191px;
  display: none;
}

.picbox .pic-selector {
  width: 580px;
  height: 66px;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  overflow: hidden;
}
.picbox .pic-selector .scroll {
  display: inline-block;
  *display: inline;
  width: 525px;
  height: 66px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.picbox .pic-selector .scroll .scroll-items {
  display: block;
  position: absolute;
  width: 2000px;
  height: 66px;
  text-align: left;
  left: 0;
  top: 0;
}
.picbox .pic-selector .scroll .scroll-items ul {
  /*移动的元素*/
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000;
}
.picbox .pic-selector .scroll .scroll-items ul img {
  display: block;
}

.picbox .pic-selector .tinypic {
  margin: 0 18px;
  width: 64px;
  height: 64px;
  display: inline-block;
  border: 1px solid transparent;
}

.picbox .pic-selector .tinypic:hover,
.picbox .pic-selector .cur {
  border: 1px solid #DDD;
}

.pic-selector {
  position: relative;
}

.picbox .pic-selector .tinypic img {
  width: 100%;
  height: 100%;
}

#pic-selector a {
  float: left;
  width: 15px;
  height: 54px;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  background: #fff;
  font-size: 24px;
  font-weight: 700;
}

#right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #d1cccc;
  display: inline;
  background: #fff;
}

#left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff;
  display: inline;
}

/*收藏*/
.favoritebtn {
  color: #333;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
  padding-left: 30px;
  background: url("http://static.i360mall.com/mall/images/favoritebtn.png") no-repeat;
  cursor: pointer;
}

/*爱心标记*/
.favoritebtn.active {
  background-image: url("http://static.i360mall.com/mall/images/favoritebtn1.png");
}

/*购物*/
.prodIntro .sInfo {
  width: 620px;
  margin: 0;
  float: right;
}
.prodIntro .sInfo .tr {
  margin-top: 25px;
  border-bottom: 1px #E6E9ED solid;
  padding-bottom: 8px;
  *zoom: 1;
}
.prodIntro .sInfo .tr strong {
  /*---标题--*/
  font-size: 28px;
  color: #0E0E0E;
  display: block;
  font-weight: normal;
  width: 600px;
  overflow: hidden;
}

.prodIntro .sInfo .tr p.coupon {
  /*---小标题详细--*/
  padding: 10px 0;
  line-height: 24px;
  font-size: 14px;
  color: #e43636;
  width: 600px;
}
.prodIntro .sInfo .tr p.coupon a {
  text-decoration: underline;
  color: #646eb0;
  display: inline-block;
}

.nobdr {
  /*---填充盒子--*/
  border: 0 !important;
}

.summary-stock {
  /*---配送至--*/
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 1px;
  height: 40px;
}

.summary-stock:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.g-address {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 10;
  text-indent: 0px;
}

.g-address > span {
  position: relative;
  padding: 2px 17px 2px 8px;
  border: 1px solid #FFF;
  border-bottom: 0;
  color: #005ea7;
}

.g-address > span i {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background: url("http://static.i360mall.com/mall/images/icon-list.png") no-repeat;
  background-position: -130px 0;
}

.g-address > span.hover {
  border: 1px solid #ccc;
  border-bottom: 0px solid #FFF;
  padding: 2px 17px 2px 8px;
  z-index: 10;
  background: #FFF;
}

.g-address > span.hover i {
  background-position: -137px 0;
}

.g-address-box {
  display: none;
  position: absolute;
  left: -103px;
  top: 21px;
  width: 320px;
  border: 1px solid #ccc;
  background: #FFF;
  z-index: 9;
  padding: 5px 0;
}

.g-info li .g-address-box li {
  padding: 6px 0;
}

.cate {
  /*--数量类型---*/
  display: block;
  overflow: hidden;
}

.cate-list {
  color: #0E0E0E;
  float: left;
  font-size: 12px;
  width: 535px;
  margin: 0;
  padding: 0;
}

.cate-list li {
  list-style: none;
  _display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cate-list li a,
.cate-list li a:link {
  text-decoration: none;
  border: 1px #ccc solid;
  color: #31373c;
  background: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 2px;
}

.cate-list .cur a,
.cate-list .cur a:link {
  border: 1px #fd532d solid;
  color: #fd532d;
}

.cate-list .disable a,
.cate-list .disable a:link {
  border: 1px dashed #ccc;
  cursor: pointer;
  color: #ccc;
}

.cate-list .cate-tips {
  display: none;
  border: 1px dashed transparent;
  color: #fd532d;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.needselect .cate-list .cate-tips {
  display: inline-block;
}

.cate-list .cate-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 6px;
  margin-right: 6px;
  background: url(../images/icons.png) no-repeat -96px -90px;
}

.prodIntro .sInfo .tr p.mianze {
  line-height: 24px;
  font-size: 12px;
  color: #666;
  font-family: simsun;
}

.prodIntro .sInfo .tr .txt {
  position: relative;
  overflow: hidden;
  clear: both;
  padding-bottom: 24px;
}
.prodIntro .sInfo .tr .txt span {
  float: left;
  width: 56px;
  overflow: hidden;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #848484;
  text-align: justify;
  margin-right: 9px;
}

.prodIntro .sInfo .tr .txt span:after {
  content: '';
  width: 100%;
  display: inline-block;
  height: 0;
}

.prodIntro .sInfo .tr .txt .nowprice {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin-right: 10px;
  font-size: 36px;
  font-style: normal;
  color: #FA5437;
  vertical-align: middle;
}
.prodIntro .sInfo .tr .txt .nowprice em {
  font-size: 30px;
  font-style: normal;
}

.prodIntro .sInfo .tr .txt .oldprice {
  font-size: 14px;
  font-style: normal;
  color: #BEBEBE;
  text-decoration: line-through;
}

.prodIntro .sInfo .tr .txt .suggestive {
  font-size: 14px;
  font-style: normal;
  color: #BEBEBE;
  padding-left: 10px;
}

.prodIntro .sInfo .tr .txt .suggestive em {
  font-size: 14px;
  font-style: normal;
  color: #848484;
}

.prodIntro .sInfo .tr .txt .suggestive .s-price {
  color: #FA5437;
}

.prodIntro .sInfo .tr .txt a.lk, .prodIntro .sInfo .tr .txt a.lk:link {
  font-size: 12px;
  color: #666;
  text-decoration: none;
  vertical-align: 1px;
}

.prodIntro .sInfo .tr .gcIpt {
  text-align: center;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prodIntro .sInfo .tr .gcIpt a {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -1px;
  font-family: simsun;
  font-size: 16px;
  border: 1px solid #CCC;
  vertical-align: middle;
  overflow: hidden;
}

.prodIntro .sInfo .tr .gcIpt .disabled {
  color: #DDD;
}

.prodIntro .sInfo .tr .gcIpt .hover {
  color: #FA5437;
}

.prodIntro .sInfo .tr .gcIpt a.increment {
  font-size: 16px;
  line-height: 30px;
}

.prodIntro .sInfo .tr .gcIpt input {
  padding: 0;
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  margin-left: -1px;
  background: #FFF;
  font-family: arial;
  font-size: 13px;
  color: #000;
  border: 1px #CCC solid;
  text-align: center;
  vertical-align: middle;
}

.chatjd_dl {
  /*--联系客服--*/
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-top: 5px;
  background: url("http://static.i360mall.com/mall/images/kf_logo.png") no-repeat 0 -34px;
}

.btns a.gInfoBtn {
  float: left;
  width: 240px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #D2D2D2;
  color: #FFF;
}

.gInfoBtn:hover, .gTab a.gInfoBtn:hover {
  color: #FFF;
  text-decoration: none;
}

.prodIntro .sInfo .guarantee li {
  float: left;
  line-height: 30px;
  height: 30px;
  color: #848484;
  margin-right: 20px;
  font-size: 14px;
}

.prodIntro .sInfo .guarantee li i {
  display: inline-block;
  margin: 5px 5px 0 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background: url("http://static.i360mall.com/mall/images/icons.png") no-repeat;
}

.prodIntro .sInfo .guarantee .shop_info i {
  background-position: -94px -2px;
}

.prodIntro .sInfo .guarantee .postage_free i {
  background-position: -94px -24px;
}

.prodIntro .sInfo .guarantee .sales_return i {
  background-position: -94px -46px;
}

.prodIntro .sInfo .guarantee .sales_replace i {
  background-position: -94px -68px;
}

.adWord_p a {
  display: inline;
}

.g-address {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  z-index: 10;
  text-indent: 0px;
}

.g-address > span {
  position: relative;
  padding: 2px 17px 2px 8px;
  border: 1px solid #FFF;
  border-bottom: 0;
  color: #005ea7;
}

.g-address > span i {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background: url(../images/icon-list.png) no-repeat;
  background-position: -130px 0;
}

.g-address > span.hover {
  border: 1px solid #ccc;
  border-bottom: 0px solid #FFF;
  padding: 2px 17px 2px 8px;
  z-index: 10;
  background: #FFF;
}

.g-address > span.hover i {
  background-position: -137px 0;
}

.g-address-box {
  display: none;
  position: absolute;
  left: -103px;
  top: 21px;
  width: 320px;
  border: 1px solid #ccc;
  background: #FFF;
  z-index: 9;
  padding: 5px 0;
}

.g-info li .g-address-box li {
  padding: 6px 0;
}

.summary-stock {
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 1px;
}

.summary-stock .beforehand {
  display: inline-block;
  color: #999;
  font-size: 14px;
}

.summary-stock .beforehand span {
  color: #fd532d;
  font-weight: bold;
}

.open > span {
  border: 1px solid #ccc;
  border-bottom: 0px solid #FFF;
  padding: 2px 17px 2px 8px;
  z-index: 10;
  background: #FFF;
}

.open > span i {
  background-position: -137px 0;
}

.open .m-address-tt {
  border: 1px solid #ccc;
  border-bottom: 0px solid #FFF;
  padding: 2px 17px 2px 8px;
  z-index: 10;
  background: #FFF;
}

.open .m-address-tt i {
  background-position: -137px 0;
}

.m-address {
  display: none;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  width: 420px;
  position: absolute;
  top: 19px;
  left: -120px;
}

.open .m-address {
  display: block;
}

.m-address .close {
  width: 11px;
  height: 11px;
  background: url(http://static.i360mall.com/mall/images/pop-icon.png) no-repeat;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  text-indent: -9999px;
  z-index: 200;
  color: #000;
}

.m-address .ma-hd {
  width: 100%;
  zoom: 1;
  border-bottom: 1px solid #82C92F;
  height: 21px;
  _overflow: hidden;
  margin-top: 10px;
}

.m-address .ma-hd .tt-item {
  height: 20px;
  line-height: 20px;
  color: #3c3c3c;
  font-size: 12px;
  padding: 0 5px 0 5px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  background-color: #fff;
}

.m-address .ma-hd .tt-item.selected {
  color: #000;
  position: relative;
  height: 21px;
  border-right: 1px solid #82C92F;
  border-top: 1px solid #82C92F;
  border-left: 1px solid #82C92F;
}

.m-address .ma-bd {
  width: 100%;
  zoom: 1;
  _overflow: hidden;
  margin-top: 10px;
}

.m-address .ma-bd li {
  cursor: pointer;
  line-height: 18px;
  margin: 5px;
  float: left;
  border: 1px solid #fff;
  padding: 0 10px;
  color: #333;
}

.m-address .ma-bd li:hover, .m-address .ma-bd li.selected {
  border: 1px solid #82C92F;
  background: #82C92F;
  color: #fff;
}

.shopcart-address {
  left: -237px;
}

.btns a.gInfoBtn-addcart {
  background: #FD532D;
}

/*# sourceMappingURL=details.css.map */
