.header_top {
  height: 80px;
  overflow-x: hidden;
  text-align: center;
}
.header_top a {
  display: block;
}
.header_top img {
  border: 0;
  width: 1920px;
  height: 80px;
  margin-left: -285px;
  vertical-align: middle;
}

.header_botton_1 {
  background: #e3e4e5;
}
.header_botton_1 .moving {
  position: absolute;
  left: 0px;
}
.header_botton_1 .moving_1 {
  position: absolute;
  left: 68px;
}
.header_botton_1 .moving_2 {
  margin-left: 25px;
}

.header_botton_1 ul {
  list-style: none;
  width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.header_botton_1 ul li {
  display: list-item;
  position: relative;
}
.header_botton_1 ul .nav_left {
  float: left;
}
.header_botton_1 ul .nav_right {
  float: right;
}
.header_botton_1 ul a {
  font-size: 12px;
  display: inline-block;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #999;
}

.header_botton_1 i {
  width: 22px;
  height: 18px;
  background: url(http://static.i360mall.com/mall/images/head-icons1.png) no-repeat;
  -ms-animation: rotateme .3s infinite;
  -o-animation: rotateme .3s infinite;
  -moz-animation: rotateme .3s infinite;
  -wekit-animation: rotateme .3s infinite;
  animation: rotateme .3s infinite;
  position: absolute;
  top: 10px;
  left: -18px;
  cursor: pointer;
}

@-o-keyframes rotateme {
  0% {
    -o-transform: rotate(-10deg);
  }
  20% {
    -o-transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(10deg);
  }
  70% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-10deg);
  }
}
@-moz-keyframes rotateme {
  0% {
    -moz-transform: rotate(-10deg);
  }
  20% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(10deg);
  }
  70% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-10deg);
  }
}
@-ms-keyframes rotateme {
  0% {
    -ms-transform: rotate(-10deg);
  }
  20% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(10deg);
  }
  70% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-10deg);
  }
}
@-webkit-keyframes rotateme {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}
@keyframes rotateme {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.header_botton_1 .codebox {
  position: absolute;
  top: 42px;
  left: 12px;
  z-index: 1;
  border: 1px solid #999;
}
.header_botton_1 .codebox img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.codebox:before {
  content: "";
  display: block;
  height: 5px;
  width: 9px;
  background: url("http://static.i360mall.com/mall/images/codeboxarr.png") no-repeat;
  position: absolute;
  top: -6px;
  right: 30px;
}

.header_botton_2 {
  background: #fff;
}

.header_botton_2 .logo {
  float: left;
  height: 118px;
  line-height: 118px;
  font-size: 0;
}
.header_botton_2 .logo a {
  max-height: 118px;
}
.header_botton_2 .logo img {
  width: 150px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.search {
  position: relative;
  float: left;
  margin-left: 250px;
  height: 46px;
  vertical-align: top;
  margin-top: 28px;
}

.header_botton_2 form .suggest {
  width: 434px;
  height: 40px;
  padding: 0 14px;
  line-height: 40px;
  border: 1px solid #23ac38;
  font-size: 12px;
}
.header_botton_2 form .search-btn {
  width: 72px;
  height: 42px;
  background: #23ac38 url(http://static.i360mall.com/mall/images/head-icons.png) no-repeat 24px -110px;
  border: 0;
  cursor: pointer;
  margin-left: -4px;
  position: absolute;
  right: -72px;
  bottom: 4px;
}

.search-btn:hover {
  background-color: #23862a;
}

.searchkey {
  margin-top: 9px;
}
.searchkey a {
  margin-right: 10px;
  color: #848484;
  display: inline-block;
  font-size: 12px;
}

.topshopcart {
  float: right;
  position: relative;
  padding: 0;
  z-index: 87;
  margin-top: 28px;
  margin-right: 110px;
}
.topshopcart .header-cart {
  display: inline-block;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f9f9f9;
  color: #363636;
  border: 1px solid #ddd;
  font-size: 12px;
}
.topshopcart .icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 6px -3px 7px;
  background: url(http://static.i360mall.com/mall/images/head-icons.png) 0 0 no-repeat;
}

.carthas .header-cart .icon {
  background-position: 0 -30px;
}

.topshopcart .header-cart .cart-size {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: #bfbfbf;
  text-align: center;
  line-height: 19px;
  font-size: 12px;
}

.topshopcart .cart-hover .cart-size,
.topshopcart .cart-hover {
  position: relative;
  color: #3fb661;
  background: #fff;
  border-bottom: 1px solid #fff;
  z-index: 102;
}

.topshopcart .header-cart-popup {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 12px;
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 42px;
  width: 380px;
  z-index: 10000;
}

.header_botton_3 {
  position: relative;
  background: #fff;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  z-index: 1;
}

.navbar {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}
.navbar .top-item {
  float: left;
  padding: 0 12px;
  line-height: 37px;
  text-align: left;
}
.navbar .top-item a {
  position: relative;
  font-size: 15px;
  color: #323334;
}
.navbar .topfirst {
  width: 210px;
  padding: 0;
  margin-right: 26px;
  background-color: #363636;
}
.navbar .topfirst a {
  position: relative;
  padding-left: 36px;
  margin-left: 30px;
  color: #fff;
}

.navbar .top-item a:hover {
  color: #23ac38;
}

.navbar .topfirst a:before {
  position: absolute;
  left: 0px;
  top: 7px;
  content: "";
  width: 26px;
  height: 26px;
  background: url(http://static.i360mall.com/mall/images/head-icons.png) no-repeat;
  background-position: 3px -300px;
}

.navbar .topfirst:hover a {
  color: #fff;
}

.navbar .topfirst:hover a:before {
  background-position: -23px -300px;
}

.header_botton_3 .wrap {
  position: relative;
}

.header_botton_3 .navadbox a {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.header_botton_3 .navadbox a img {
  width: 189px;
  height: 57px;
}

/*# sourceMappingURL=header.css.map */
